<h2 class="gallery" data-gallery="{{dir}}">
	<a id="backlink" href="javascript:void(0);">&lt;&lt;</a>
	<a class="gallerylink" href="javascript:void(0);">{{dir}}</a>
	{{#exifavailable}}
	<a id="gmlink" href="javascript:void(0);">Map</a>
	{{/exifavailable}}
</h2>
<div id="gallerycanvas">
{{#images}}
<div class="outer">
	{{#exif}}
	<a class="fancybox-media" href="//maps.google.com/maps?q={{name}}@{{gps.lat}},{{gps.lng}}&z=14&ll={{gps.lat}},{{gps.lng}}&z=15&t=m">
		<span></span>
	</a>
	{{/exif}}
	<a class="fancybox {{exif.style}}" href="{{img.src}}" rel="{{dir}}">
		<img src="{{thumbnail}}" alt="{{img.name}}">
	</a>
</div>
{{/images}}
<div style="clear:left;"></div>
</div>