<h2 class="gallery"><a href="javascript:location.reload();">&lt;&lt;</a> {{dir}}</h2>
{{#images}}
<div class="outer">
	{{#exif}}
	<a class="fancybox-media" href="//maps.google.com/maps?q={{name}}@{{gps.lat}},{{gps.log}}&z=14&ll={{gps.lat}},{{gps.log}}&z=15&t=m">
		<span></span>
	</a>
	{{/exif}}
	<a class="fancybox {{exif.style}}" href="{{img.src}}" rel="{{gallery}}">
		<img src="{{thumbnail}}" alt="{{img.name}}">
	</a>
</div>
{{/images}}