{{#previews}}
<span data-gallery="{{dir.name}}">
	<a class="gallerylink" href="javascript:void(0);">
		<div class="{{style}}">
			<img src="{{img}}" alt="{{dir.name}}">
		</div>
	</a>
</span>
{{/previews}}
<div style="clear:left;"></div>