<div class="select">
	<form name="fotoalbum" method="post" action="{{action}}" accept-charset="utf-8">
		<select id="gallery" name="ordner" onchange="document.fotoalbum.submit();">	
			{{#dirs}}
			<option {{selected}} value="{{src}}">{{name}}</option>
			{{/dirs}}
		</select>
	</form>
</div>