<div class="form">
	<form name="fotoalbum" method="post" action="{{action}}">
		<select id="gallery" name="ordner" onchange="document.fotoalbum.submit();">	
			{{#paths}}
			<option {{selected}} value="{{path}}">{{name}}</option>
			{{/paths}}
		</select>
	</form>
</div>