body {
	margin: 0 auto;
	background-color: #111;
}
form {
	margin: 0;
	padding: 2px 0 0 2px;
}
div.thumbnails {
	width: 100%;
}
div.outer{
	position: relative;
	float: left;
}
a.fancybox-media span {
	background-image: url(../img/Google_Maps_Marker.png);
	background-repeat: no-repeat;
	width: 37px;
	height: 34px;
	left: 6px;
	top: 0px;
	position: relative;
	float: left;
	overflow: hidden;
	z-index: 1;
}
a.fancybox img{
	border: #FFF 3px solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 2 2 2 2;
	z-index: 0;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transition: opacity 0.1s;
}
a.fancybox.gps img
{
	margin: 2 2 2 -35;
} 
a.fancybox img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	-webkit-transition: opacity 0.1s;
}
div.error {
	background-color: #999;
	width: 100%;
	padding: 30px 0 30px 20px;
}